body {
    color: var(--global-text-color);
    background-color: var(--global-bg-color);
    border-color: var(--global-divider-color);
}

a {
    color: var(--global-theme-color);

    &:hover {
        color: var(--global-hover-color);
    }
}

code {
    color: var(--global-theme-color);
}

nav {
    a {
        color: var(--global-text-color);
    }

    .active a {
        color: var(--global-theme-color);
    }
}

#hamburger span {
    background-color: var(--global-text-color);
}