body {
    color: var(--global-text-color);
    background-color: var(--global-bg-color);
    border-color: var(--global-divider-color);
}

a {
    color: var(--global-theme-color);

    &:hover {
        color: var(--global-hover-color);
    }
}

code {
    color: var(--global-theme-color);
}

.icon {
    width: 1em;
    height: 1em;

    vertical-align: -.140em;

    fill: var(--global-text-color);

    &:hover {
        fill: var(--global-hover-color);
    }
}

nav a {
    color: var(--global-text-color);
}

nav .active a {
    color: var(--global-theme-color);
}

#hamburger span {
    background-color: var(--global-text-color);
}