{{- $scr := .Scratch -}}
{{- $site := $scr.Get "site" -}}

{{- partial "themes/parse" . -}}

$lightmode-text-color: {{ $scr.Get "lightmode_text_color" }} !default;
$lightmode-text-color-light: {{ $scr.Get "lightmode_text_color_light" }}
!default; $lightmode-bg-color: {{ $scr.Get "lightmode_bg_color" }} !default;
$lightmode-theme-color: {{ $scr.Get "lightmode_theme_color" }} !default;
$lightmode-header-color: {{ $scr.Get "lightmode_header_color" }} !default;
$lightmode-footer-color: {{ $scr.Get "lightmode_footer_color" }} !default;
$lightmode-divider-color: {{ $scr.Get "lightmode_divider_color" }} !default;
$darkmode-text-color: {{ $scr.Get "darkmode_text_color" }} !default;
$darkmode-text-color-dark: {{ $scr.Get "darkmode_text_color_dark" }} !default;
$darkmode-bg-color: {{ $scr.Get "darkmode_bg_color" }} !default;
$darkmode-theme-color: {{ $scr.Get "darkmode_theme_color" }} !default;
$darkmode-header-color: {{ $scr.Get "darkmode_header_color" }} !default;
$darkmode-footer-color: {{ $scr.Get "darkmode_footer_color" }} !default;
$darkmode-divider-color: {{ $scr.Get "darkmode_divider_color" }} !default;
