<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }} itemscope itemtype="http://schema.org/{{ if .IsHome }}WebSite{{ else if .IsPage }}Article{{ else }}WebPage{{ end }}">

    {{ partial "head" . }}

    <body>
        <header>
            {{ partial "header" . }}
        </header>

        {{ partial "distill/d-front-matter" . }}

        {{ partial "distill/d-title" . }}

        {{ partial "distill/d-article" . }}

        {{ partial "distill/d-appendix" . }}

        {{ partial "footer" . }}

        {{ if (and .Site.Params.giscusScript (not .Params.disableGiscusComments)) }}
            <div class="comments">
                {{ partial "scripts/giscus" . }}
            </div>
        {{ end }}
    </body>

</html>
