<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }} itemscope itemtype="http://schema.org/{{ if .IsHome }}WebSite{{ else if .IsPage }}Article{{ else }}WebPage{{ end }}">

    {{ partial "head" . }}

    <body class="bg-background">
        {{ block "body" . }}
            {{ partial "header" . }}

            {{ partial "distill/d-front-matter" . }}

            {{ partial "distill/d-title" . }}

            {{ partial "distill/d-article" . }}

            {{ partial "distill/d-appendix" . }}

            {{ partial "footer" . }}
        {{ end }}
    </body>

</html>
