<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }} itemscope itemtype="http://schema.org/{{ if .IsHome }}WebSite{{ else if .IsPage }}Article{{ else }}WebPage{{ end }}">
    {{/*  Head  */}}
    {{ partial "head" . }}

    {{/*  Body  */}}
    <body class="text-primary bg-background">

        {{/*  Header  */}}
        <header class="fixed inset-x-0 top-0 bg-header z-10 border-b border-divider">
            {{ partial "header" . }}
        </header>

        {{/*  Main  */}}
        <main class="mx-auto mt-24 md:mt-14 mb-12 md:mb-8 p-4 space-y-4" style="max-width: {{ .Site.Params.maxWidth }};">
            {{ block "main" . }}{{ end }}
        </main>

        {{/*  Footer  */}}
        <footer class="{{if .Site.Params.staticFooter}} static {{else}} fixed {{end}} inset-x-0 bottom-0 p-2 bg-footer text-center text-xs font-light border-t border-divider">
            {{ partial "footer" . }}
        </footer>
    </body>
</html>
