{{ define "main" }}
<header class="space-y-4 list-header py-2">
    <h1 class="text-6xl text-center font-medium">
        {{ .Page.Title }}
    </h1>

    {{ with .Page.Params.description }}
        <h2 class="text-2xl text-center">
            {{ . }}
        </h2>
    {{ end }}
</header>

<article class="space-y-4">
    {{ .Content }}

    <div class="post-list">
        <ul class="border-t border-dashed">
            {{ range .Pages }}
                <li class="py-4 space-y-2 border-b border-dashed">                   
                    <h3>
                        <a class="text-2xl font-medium" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <p>
                            {{ .Params.Description }}
                        </p>
                    </h3>
                </li>
            {{ end }}
        </ul>
    </div>
</article>
{{ end }}