{{ define "main" }}
    <article class="space-y-4">
        <header>
            <h1 class="text-4xl font-medium">
                {{ .Page.Title }}
            </h1>
    
            {{ with .Page.Params.description }}
                <h2 class="font-medium">
                    {{ . }}
                </h2>
            {{ end }}
        </header>

        {{ with .Content }}
            <div class="markdown">
                {{ . }}
            </div>
        {{ end }}

        <div>
            {{ partial "list" . }}
        </div>
    </article>
{{ end }}
