// https://github.com/hugo-mods/icons/blob/main/assets/mod-icons/style.css
.icon {
    display: inline;

    width: 1em;
    height: 1em;

    fill: currentColor;

    vertical-align: -0.14em;
}

// https://katex.org/docs/issues.html#css-customization
.katex-display {
    overflow: auto hidden;
}
