/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
    --global-text-color-primary: #{$lightmode-text-color};
    --global-text-color-secondary: #{$lightmode-text-color-light};
    --global-bg-color: #{$lightmode-bg-color};
    --global-theme-color: #{$lightmode-theme-color};
    --global-header-color: #{$lightmode-header-color};
    --global-footer-color: #{$lightmode-footer-color};
    --global-divider-color: #{$lightmode-divider-color};

    #theme-toggle {
        .icon-sun {
            display: none;
        }

        .icon-moon {
            display: inline;
        }
    }
}

html[class='dark'] {
    --global-text-color-primary: #{$darkmode-text-color};
    --global-text-color-secondary: #{$darkmode-text-color-dark};
    --global-bg-color: #{$darkmode-bg-color};
    --global-theme-color: #{$darkmode-theme-color};
    --global-header-color: #{$darkmode-header-color};
    --global-footer-color: #{$darkmode-footer-color};
    --global-divider-color: #{$darkmode-divider-color};

    #theme-toggle {
        .icon-sun {
            display: inline;
        }

        .icon-moon {
            display: none;
        }
    }
}
