/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$grey-color-light};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$grey-color-dark};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$theme-light-color};
  --global-hover-color: #{$theme-light-color-hover};

  .icon-sun {
    display: none;
  }

  .icon-moon {
    display: inline;
  }
}

html[class="dark"] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$theme-dark-color};
  --global-hover-color: #{$theme-dark-color-hover};

  .icon-sun {
    display: inline;
  }

  .icon-moon {
    display: none;
  }
}
