a {
    font-weight: 500;
    text-decoration: underline;

    &:hover {
        color: var(--global-theme-color);
    }
}

.markdown {
    h2 {
        margin-top: 0;
    }

    h5 {
        font-weight: 500;
    }

    ul li input {
        margin: 0;
    }

    sup,
    .footnotes ol li {
        scroll-margin-top: 5rem;
    }
}
