{{ define "main" }}
  <article class="space-y-4">
    <h1 class="text-6xl text-center font-medium text-theme">
      {{ .Page.Title }}
    </h1>

    {{ with .Page.Params.description }}
      <h2 class="text-2xl text-center">
        {{ . }}
      </h2>
    {{ end }}

    {{ with .Content }}
      <div class="space-y-4">
        {{ . }}
      </div>
    {{ end }}


    <div>
      {{ partial "taxonomy/list" . }}
    </div>

    <div>
      {{ partial "posts/list" . }}
    </div>
  </article>
{{ end }}
