{{ define "main" }}
    <header class="blog-header">
        <h1>
            {{ .Page.Title }}
        </h1>

        {{ with .Page.Params.description }}
            <h2>
                {{ . }}
            </h2>
        {{ end }}
    </header>

    {{ with .Content }}
        <article class="markdown">
            {{ . }}
        </div>
    {{ end }}

    <article>
        {{ partial "taxonomy/list" . }}
    </article>

    <article>
        {{ partial "posts/list" . }}
    </article>
{{ end }}
