{{ define "main" }}
    <header class="post-header">
        <h1>
            {{ .Page.Title }}
        </h1>

        {{ with .Page.Params.description }}
            <h2>
                {{ . }}
            </h2>
        {{ end }}

        <h3 class="post-date">
            {{ with .Date }}
                {{ .Format "January 2, 2006" }}&nbsp;
            {{ end }}
            {{ with .Page.Params.author }}
                &bull;&nbsp;
                {{ . }}
            {{ end }}
        </h3>

        <h3 class="post-tags">
            {{ with .Page.ReadingTime }}
                <span>{{ partial "svg" "fas fa-clock" }}&nbsp;{{ . }}&nbsp;min read&nbsp;</span>
            {{ end }}

            {{ with .Page.Params.tags }}
                &bull;&nbsp;
                {{ range . }}
                    <a href="/tags/{{ . }}">{{ partial "svg" "fas fa-hashtag" }}&nbsp;{{ . }}&nbsp;</a>
                {{ end }}
            {{ end }}

            {{ with .Page.Params.categories }}
                &bull;&nbsp;
                {{ range . }}
                    <a href="/categories/{{ . }}">{{ partial "svg" "fas fa-tag" }}&nbsp;{{ . }}&nbsp;</a>
                {{ end }}
            {{ end }}
        </h3>
    </header>

    <aside class="toc">
        {{ partial "posts/toc" . }}
    </aside>

    <article class="markdown">
        {{ .Content }}
    </article>

    {{ if (and .Site.Params.giscusScript (not .Params.disableGiscusComments)) }}
        <div id="comments">
            {{ partial "scripts/giscus" . }}
        </div>
    {{ end }}
{{ end }}
