<ul class="list border-t border-dashed">
    {{ range .Pages }}
        <li class="py-4 space-y-2 border-b border-dashed">
            <p class="text-sm font-mono">
                {{ with .Date }}
                    {{ .Format "January 2, 2006" }}
                {{ end }}
                {{ with .Page.Params.author }}
                    &nbsp; &bull; &nbsp;
                    {{ . }}
                {{ end }}
            </p>

            <span>
                <h3>
                    <a class="text-2xl font-medium" href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </h3>

                <p>{{ .Params.Description }}</p>
            </span>

            {{ $currentPage := . }}
            <p class="post-date text-sm italic">
                {{ with .Page.ReadingTime }}
                    <span>{{ partial "svg" "fas fa-clock" }}&nbsp;{{ . }}&nbsp;min read</span>
                {{ end }}
                {{ with .Page.Params.tags }}
                    &nbsp; &bull; &nbsp;
                    {{ range . }}
                        <a href="/tags/{{ . }}">{{ partial "svg" "fas fa-hashtag" }}&nbsp;{{ . }}&nbsp;</a>
                    {{ end }}
                {{ end }}
                {{ with .Page.Params.categories }}
                    &nbsp; &bull; &nbsp;
                    {{ range . }}
                        <a href="/categories/{{ . }}">{{ partial "svg" "fas fa-tag" }}&nbsp;{{ . }}&nbsp;</a>
                    {{ end }}
                {{ end }}
            </p>
        </li>
    {{ end }}
</ul>
