<header class="sticky inset-x-0 top-0 p-4 w-full flex flex-nowrap">
    <a href="{{ .Site.BaseURL }}"><strong>{{ .Site.Title }}</strong></a>
    <ul class="ml-auto flex flex-nowrap space-x-6">
        <li><a href="{{ .Site.BaseURL }}">About</a></li>
        <li><a href="/blog">Blog</a></li>
        {{ range site.RegularPages }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
        <li><button id="theme-toggle"><small>Toggle Theme</small></button></li>
    </ul>
</header>