<header class="fixed inset-x-0 top-0 bg-inherit z-10 border-b border-divider">
    <nav class="mx-auto p-4 text-base font-medium flex md:flex-row flex-col">
        <ul class="flex flex-row flex-nowrap">
            <li>
                {{ if (and .Site.Params.navbarTitle (ne .Site.Title (printf "%s %s" .Site.Params.firstName .Site.Params.lastName))) }}
                    <a class="whitespace-nowrap text-primary font-bold no-underline" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                {{ end }}
            </li>
            {{ if .Site.Params.socialNavbar }}
                <li class="ml-auto pl-4 text-[1.25em]">
                    {{ partial "social" . }}
                </li>
            {{ end }}
            {{/*  <li class="hidden">
                <button>
                    {{ partial "svg" "fas fa-angles-down" }}
                </button>
            </li>  */}}
        </ul>
        <ul class="md:ml-auto">
            <li class="md:mt-0 mt-4">
                <ul class="flex md:flex-row">
                    <li class="md:w-fit overflow-auto">
                        <ul class="flex flex-row flex-nowrap space-x-4 md:space-x-8">
                            {{ $currentPage := . }}
                            {{ range .Site.Menus.main }}
                                {{ if .HasChildren }}
                                    {{/*  <li class='{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}'>
                                        <a class="text-inherit" href="#">
                                            {{ .Pre }}{{ .Name }}
                                        </a>
                                    </li>
                                    <li>
                                        <ul class="sub-menu">
                                            {{ range .Children }}
                                                <li class='{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
                                                    <a class="text-inherit" href="{{ .URL }}">{{ .Name }}</a>
                                                </li>
                                            {{ end }}
                                        </ul>
                                    </li>  */}}
                                {{ else }}
                                    <li>
                                        <a href="{{ .URL }}" class="whitespace-nowrap no-underline {{ if eq $currentPage.RelPermalink .URL }}text-theme{{ else }}text-primary{{ end }}">
                                            {{ .Name }}
                                        </a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </li>
                    <li class="ml-auto pl-4">
                        <button id="theme-toggle" class="hover:text-theme" onclick="toggleTheme()">
                            <span class="icon-sun" title="light theme">
                                {{ partial "svg" "fas fa-sun" }}
                            </span>
                            <span class="icon-moon" title="dark theme">
                                {{ partial "svg" "fas fa-moon" }}
                            </span>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
