<header class="fixed inset-x-0 top-0 bg-inherit border-b opacity-80">
    <nav class="mx-auto p-4 max-w-[1024px]">
        <ul class="flex flex-nowrap">
            <li><a href="{{ .Site.BaseURL }}"><strong>{{ .Site.Title }}</strong></a></li>
            <ul class="ml-auto md:space-y-0 space-y-2 md:text-center text-right">
                <li class="md:hidden">
                    <button id="hamburger" class="space-y-1.5" onclick="hamburger()">
                        <span class="block w-8 h-0.5"></span>
                        <span class="block w-8 h-0.5"></span>
                        <span class="block w-8 h-0.5"></span>
                    </button>
                </li>
                <ul id="hamburger-menu" class="hidden md:flex md:flex-nowrap md:space-x-8 md:space-y-0 space-y-4">
                    {{ range site.RegularPages }}
                        <li><a class="hover:underline" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                    {{ end }}
                    <li><button id="theme-toggle" class="hover:underline" onclick="toggleTheme()">Toggle Theme</button></li>
                </ul>
            </ul>
        </ul>
    </nav>
</header>