<ul class="list border-t border-dashed">
    {{ range .Pages }}
        <li class="py-4 space-y-2 border-b border-dashed">
            <hgroup>
                <h3>
                    <a class="text-2xl font-medium text-primary no-underline" href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </h3>

                <h4>
                    {{ .Params.Description }}
                </h4>
            </hgroup>
        </li>
    {{ end }}
</ul>
