<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
    name="author"
    content="{{ .Site.Params.firstName }} {{ .Site.Params.lastName }}"
/>
<meta name="description" content="{{ .Site.Params.description }}" />
<meta
    name="keywords"
    content="{{ with .Params.tags }}
        {{ delimit . ", " }}
    {{ else }}
        {{ delimit .Site.Params.tags ", " }}
    {{ end }}
    "
/>

{{ if (eq .RelPermalink "/404.html") }}
    <meta http-equiv="refresh" content="10; url={{ .Site.BaseURL }}" />
{{ end }}

{{ template "_internal/opengraph.html" . }}

{{ template "_internal/schema.html" . }}

{{ $sameAsLinks := "]" }}
{{ range .Site.Menus.social }}
    {{ $sameAsLinks = printf "%s" $sameAsLinks | printf "%s, %s" (.URL | htmlUnescape ) | printf "%s" }}
{{ end }}
{{ $sameAsLinks = printf "%s" $sameAsLinks | printf "%s%s" "[" | printf "%s" }}

{{ $name := printf "%s %s" .Site.Params.firstName .Site.Params.lastName }}

<script type="application/ld+json">
{
    "author":
    {
        "@type": "Person",
        "name": "{{ $name }}"
    },
    "url": "{{ .Permalink }}",
    "@type": "{{ if strings.Contains .RelPermalink "/posts/" }}Article{{ else if .IsPage }}WebPage{{ else }}WebSite{{ end }}",
    "description": "{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}",
    "headline": "{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}",
    "sameAs": {{ $sameAsLinks }},
    "name": "{{ .Title }}",
    "@context": "https:\/\/schema.org"
}
</script>
