{{ define "main" }}
    <article class="space-y-4">
        <h1 class="text-4xl -mb-2">
            {{ if (or .Site.Params.firstName .Site.Params.middleName .Site.Params.lastName) }}
                <strong>{{ .Site.Params.firstName }}</strong>
                {{ .Site.Params.lastName }}
            {{ else }}
                <strong>{{ .Site.Title }}</strong>
            {{ end }}
        </h1>

        {{ with .Site.Params.description }}
            <h2>
                {{ . }}
            </h2>
        {{ end }}

        <div class="md:float-right md:max-w-[25%] md:ml-4 text-center space-y-2">
            {{ with resources.Get "img/prof_pic.jpg" }}
                {{ partial "img" (dict "img" . "class" "rounded" "alt" .RelPermalink) }}
            {{ end }}
            {{ with .Site.Params.email }}
                <p>
                    {{ partial "scripts/cloakemail" . }}
                </p>
            {{ end }}
        </div>

        {{ with .Content }}
            <div class="markdown space-y-4">
                {{ . }}
            </div>
        {{ end }}

        <div class="space-y-2">
            <h3 class="section-header text-2xl font-semibold -mb-2">
                <a href="/posts/" class="text-primary">Recent Posts</a>
            </h3>
            {{ partial "posts/recents" . }}
        </div>

        <div class="space-y-2">
            <h3 class="text-2xl font-semibold section-header -mb-2">
                <a href="/news/" class="text-primary">Recent News</a>
            </h3>
            {{ partial "news/recents" . }}
        </div>

        {{ if .Site.Params.socialHomePage }}
            <div class="pt-4 text-4xl">
                {{ if .Site.Menus.social }}
                    {{ partial "social" . }}
                {{ end }}
            </div>
        {{ end  }}
    </article>
{{ end }}
