{{ define "main" }}
    <header class="space-y-2">
        <h1 class="text-5xl font-medium">
            {{ if (or .Site.Params.firstName .Site.Params.middleName .Site.Params.lastName) }}
                <span class="font-bold">{{ .Site.Params.firstName }}</span>
                {{ .Site.Params.lastName }}
            {{ else }}
                {{ .Site.Title }}
            {{ end }}
        </h1>

        {{ with .Site.Params.description }}
            <h2 class="font-medium">
                {{ . }}
            </h2>
        {{ end }}
    </header>

    <figure class="sm:float-right w-3/4 md:w-1/4 sm:w-1/3 mx-auto sm:ml-4 space-y-2">
        {{ with resources.Get (printf "img/%s" .Params.profPic) }}
            {{ partial "img" (dict "img" . "class" "rounded" "alt" .RelPermalink) }}
        {{ end }}

        <address class="font-medium text-center">
            {{ with .Site.Params.email }}
                {{ partial "scripts/cloakemail" . }}
            {{ end }}

            {{ if (and .Site.Params.socialHomePage .Site.Menus.social) }}
                <div class="text-2xl overflow-auto">
                    {{ partial "social" . }}
                </div>
            {{ end }}
        </address>
    </figure>

    {{ with .Content }}
        <article class="markdown">
            {{ . }}
        </article>
    {{ end }}

    {{ if .Site.Params.showRecentNews }}
        <article class="space-y-1">
            <h3 class="text-2xl">
                <a href="/news/" class="text-primary font-semibold no-underline">Recent News</a>
            </h3>
            {{ partial "news/recents" . }}
        </article>
    {{ end }}

    {{ if .Site.Params.showRecentPosts }}
        <article class="space-y-1">
            <h3 class="text-2xl">
                <a href="/posts/" class="text-primary font-semibold no-underline">Recent Posts</a>
            </h3>
            {{ partial "posts/recents" . }}
        </article>
    {{ end }}
{{ end }}
