{{ define "main" }}
    <header>
        <h1>
            {{ if (or .Site.Params.firstName .Site.Params.middleName .Site.Params.lastName) }}
                <b>{{ .Site.Params.firstName }}</b>
                {{ .Site.Params.lastName }}
            {{ else }}
                {{ .Site.Title }}
            {{ end }}
        </h1>

        {{ with .Site.Params.description }}
            <h2>
                {{ safeHTML . }}
            </h2>
        {{ end }}
    </header>

    <figure class="index-fig">
        {{ with resources.Get (printf "img/%s" .Params.profPic) }}
            {{ if (strings.HasSuffix . ".svg") }}
                <object data="{{ .RelPermalink }}" type="image/svg+xml" width="auto" height="auto" title="{{ .RelPermalink }}"></object>
            {{ else }}
                {{ partial "img" (dict "img" . "class" "" "alt" .RelPermalink) }}
            {{ end }}
        {{ end }}

        <address>
            {{ with .Site.Params.email }}
                {{ partial "scripts/cloakemail" . }}
            {{ end }}

            {{ if (and .Site.Params.socialHomePage .Site.Menus.social) }}
                <div class="index-social">
                    {{ partial "social" . }}
                </div>
            {{ end }}
        </address>
    </figure>

    {{ with .Content }}
        <article class="markdown">
            {{ . }}
        </article>
    {{ end }}

    {{ if .Site.Params.showRecentNews }}
        <article class="recent">
            <h3>
                <a href="/news/">Recent News</a>
            </h3>
            {{ partial "news/recents" . }}
        </article>
    {{ end }}

    {{ if .Site.Params.showRecentPosts }}
        <article class="recent">
            <h3>
                <a href="/posts/">Recent Posts</a>
            </h3>
            {{ partial "posts/recents" . }}
        </article>
    {{ end }}
{{ end }}
