<!-- You can change blog to anything else and build recent item for that thing -->
{{ if .Site.Params.showRecentNews }}
    <h2 class="text-2xl font-semibold section-header">
        <a href="/news/">Recent News</a>
    </h2>
    <table class="text-left">
        <tbody>
            {{ range ( where .Site.RegularPages "Type" "news" | first .Site.Params.recentNews ) }}
            <tr>
                <th class="pr-2 py-1">
                    {{ .Date.Format "January 02, 2006" }}
                </th>
                <td class="pl-2 py-1">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
{{ end }}
